* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  width: 100%;
  position: relative;
  background-color: #e2e8f6;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.display-none {
  display: none;
  color: white;
}

header {
  display: flex;
  justify-content: start;

  .navX {
    border-top-left-radius: 30px;
    width: 100%;
    height: 8.2vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    .navX-1 {
      i {
        .nav-humberger {
          padding: 20px;
          font-size: 20px;
          color: black;
          display: none;
          margin-bottom: -200px;
          margin-left: -30px;
          border-radius: 10px;
          background-color: rgb(199, 166, 172);
          color: white;

          li {
            margin: 10px 0;
            cursor: pointer;
          }

          li:hover {
            color: #2196f7;
          }

        }
      }

    }

    .humberger:hover .nav-humberger {
      display: block;
    }

    .target {
      h2 {
        text-align: center;
        padding-top: 20px;
        font-size: 30px;
      }

      height: 8vh;
      background-color: #f84232;
      color: white;
      width: 15%;

    }

    div {
      width: 85%;
      height: 8vh;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 3px solid rgb(197, 191, 191);
      padding: 0 20px;
      z-index: 0;

      .navX-1 {
        i {
          color: rgb(228, 24, 24);
          font-size: 40px;
        }
      }

      .navX-2 {
        display: flex;
        margin-right: -50%;

        ul {
          display: flex;
          justify-content: space-between;
          gap: 0 30px;

          li {


            i {
              margin-right: 10px;
            }
          }

          .welcome {
            margin-left: -100px;
          }
        }
      }
    }

  }
}

main {
  width: 100%;
  display: flex;

  .navY {
    width: 15%;
    height: 90vh;
    background-color: #202938;
    color: white;

    overflow: hidden;

    ul {
      padding: 50px 30px;
      font-size: 20px;

      li {
        margin: 50px 30px;
      }
    }

    .dashboard {
      cursor: pointer;
    }
  }

  .content1 {

    background-color: #e2e8f6;
    width: 85%;
    padding: 30px;

    h1 {
      border-bottom: 5px solid orangered;
    }

    .statistical {
      display: flex;
      justify-content: space-between;
      margin: 50px 100px;

      .sub-statistical {
        width: 22%;
        height: 15vh;
        border-radius: 10px;
        text-align: center;
        display: flex;
        justify-content: space-around;
        align-items: center;

        div {
          width: 50%;
          height: 100%;
          border: 2px solid rgb(240, 237, 237);

          h3 {
            height: 50%;
            border: 2px solid white;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
          }

          i {
            margin-top: 30%;
            font-size: 50px;
          }
        }
      }

      .statistical1 {
        background-color: #f84232;
      }

      .statistical2 {
        background-color: #ff9900;
      }

      .statistical3 {
        background-color: #2196f7;
      }

      .statistical4 {
        background-color: #4bb350;
      }
    }

    .chart {
      width: 80%;
      height: 40vh;
      border-bottom: 3px solid black;
      border-left: 3px solid black;
      display: flex;
      margin-top: 100px;
      margin-left: 100px;
      align-items: end;
      gap: 0 5%;

      .col-month {
        background-color: #2196f7;
        position: relative;
        border: 1px solid black;
        width: 5%;

        .percent {
          margin-top: -40px;

        }

        .month {
          position: absolute;
          bottom: -60px;
        }
      }

      #month1 {
        height: 4vh;
      }

      #month2 {
        height: 8vh;
      }

      #month3 {
        height: 12vh;
      }

      #month4 {
        height: 16vh;
      }

      #month5 {
        height: 20vh;
      }

      #month6 {
        height: 24vh;
      }

      #month7 {
        height: 28vh;
      }

      #month8 {
        height: 32vh;
      }

      #month9 {
        height: 34vh;
      }

      #month10 {
        height: 36vh;
      }

      #month11 {
        height: 38vh;
      }

      #month12 {
        height: 40vh;
      }
    }
  }

  .section-revenue {
    text-align: center;
    width: 85%;
    padding: 50px 100px;

    h2 {
      font-size: 30px;
      border-bottom: 5px solid #2196f7;
    }

    table,
    tr,
    th,
    td {
      padding: 10px;
    }

    .tableSectionRevenue {
      width: 80%;
      margin-top: 50px;
      margin-left: 10%;

      tr {
        td {
          img {
            width: 100px;
            height: 100px;
            margin-top: 5px;
          }
        }
      }

      th {
        background-color: #ff9900;
      }

      td {
        background-color: #2196f7;
      }
    }

    .revenuePagination {
      margin-top: 20px;

      button {
        padding: 5px 10px;
        margin: 0 3px;
      }
    }
  }

  .section-product {
    /* display: none; */
    width: 85%;
    padding: 10px 100px;
    text-align: center;

    h2 {
      display: none;
      font-size: 30px;
      border-bottom: 5px solid #2196f7;
    }

    .filterProduct {
      width: 100%;
      text-align: center;

      .productFilterNav {
        /* border: 1px solid black; */
        padding: 0 10px;
        width: 60%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 auto;
        margin-top: 20px;

        input {}
      }

      button {}
    }

    table,
    tr,
    th,
    td {
      border: 1px solid black;
      border-collapse: collapse;
    }

    #buttonDisplayFormCreate {
      margin-left: 60%;
      width: 200px;
      height: 4vh;
      background-color: #ff9900;
      border-radius: 5px;
      margin-top: 30px;
    }

    #table-product {
      width: 80%;
      margin-top: 20px;
      margin-left: 10%;

      tr {
        th {
          background-color: #ff9900;
          padding: 10px;
        }

        td {
          background-color: #2196f7;
          padding: 5px;

          img {
            width: 100px;
            height: 100px;
            margin-top: 5px;
          }

          .productButtonUpdate {
            background-color: #4bb350;
            padding: 5px;
            border: none;
            border-radius: 5px;
            color: white;
          }

          .productButtonDelete {
            background-color: #f84232;
            padding: 5px;
            border: none;
            border-radius: 5px;
            color: white;
          }
        }
      }
    }

    .pagination {
      margin-top: 20px;

      button {
        margin-right: 10px;
        width: 40px;
      }
    }
  }

  .section-user {
    width: 85%;
    padding: 50px;
    text-align: center;

    h2 {
      font-size: 30px;
      border-bottom: 5px solid #2196f7;
    }

    .userFilter {
      margin-top: 70px;
      margin-bottom: -20px;

      .userInputSearch {
        width: 30%;
        height: 3vh;
        border-radius: 10px;
        margin-right: 10px;
      }

      .userButtonSearch {
        width: 80px;
        height: 3vh;
        border-radius: 10px;
      }
    }

    table,
    tr,
    th,
    td {

      padding: 10px 0;
    }

    table {
      width: 80%;
      margin: 0 auto;
      margin-top: 50px;

      th {
        background-color: #ff9900;
      }

      td {
        background-color: #2196f7;
      }

      button {
        background-color: #f84232;
        padding: 5px;
        color: white;
        border: none;
        border-radius: 5px;
      }
    }

    .userPagination {
      margin-top: 20px;

      button {
        padding: 5px 10px;
        margin: 0 5px;
      }
    }
  }

  .section-order {
    width: 85%;
    text-align: center;

    .orderFilter {
      margin-bottom: -20px;
      margin-top: 70px;

    }

    h2 {
      margin: 50px 0;
      font-size: 30px;
      border-bottom: 5px solid #2196f7;
    }

    table,
    tr,
    th,
    td {


      padding: 10px 0;
    }


    table {
      width: 80%;
      margin: 0 auto;
      margin-top: 50px;

      th {
        background-color: #2196f7;
        padding: 10px;
      }

      td {
        background-color: #ff9900;
        padding: 10px;

        .orderButtonDelete {
          background-color: #f84232;
          border: none;
          padding: 5px;
          border-radius: 5px;
          color: white;
          margin-bottom: 5px;
        }

        .orderButtonDetail {
          background-color: #4bb350;
          border: none;
          padding: 5px;
          border-radius: 5px;
          color: white;
        }

        .orderButtonConfirm {
          background-color: #2196f7;
          border: none;
          padding: 5px;
          border-radius: 5px;
          color: white;
          margin-bottom: 5px;
        }

        .orderButtonDelivery {
          background-color: blue;
          border: none;
          padding: 5px;
          border-radius: 5px;
          color: white;
          margin-bottom: 5px;
        }

        .orderButtonDelivered {
          background-color: chartreuse;
          border: none;
          padding: 5px;
          border-radius: 5px;
          color: white;
          margin-bottom: 5px;
        }
      }
    }

    .orderPagination {
      margin-top: 30px;

      button {
        padding: 5px 10px;
        margin: 0 5px;
      }
    }
  }

  .section-category {
    /* display: none; */
    padding: 20px 50px;
    width: 85%;
    position: relative;

    table,
    tr,
    th,
    td {}

    .formCreateCategory {
      width: 70%;
      margin: 0 auto;
      margin-top: 50px;
      padding: 30px;
      text-align: center;
      border-radius: 10px;
      background-color: #ff9900;
      border: none;

      input {
        width: 50%;
        height: 3vh;
        border-radius: 10px;
        border: none;
      }

      button {
        width: 150px;
        height: 4vh;
        border-radius: 10px;
        background-color: #2196f7;
        border: none;
        color: white;
      }
    }

    .containerUpdate {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 90vh;
      background-color: rgba(0, 0, 0, 0.5);

      .formUpdateCategory {

        width: 70%;
        margin: 0 auto;
        margin-top: 30vh;
        padding: 30px;
        text-align: center;
        border-radius: 10px;
        background-color: #ff9900;
        border: none;

        input {
          width: 50%;
          height: 3vh;
          border-radius: 10px;
          border: none;
        }

        button {
          width: 150px;
          height: 4vh;
          border-radius: 10px;
          background-color: #2196f7;
          border: none;
          color: white;
        }

        #buttonCancelUpdateCategory {
          background-color: #f84232;
        }
      }
    }

    #tableSectionCategory {
      border-radius: 10px;
      width: 70%;
      margin: 0 auto;
      margin-top: 50px;
      text-align: center;

      th {
        padding: 10px;
        background-color: #ff9900;
      }

      td {
        padding: 10px;
        background-color: #2196f7;

        .updateCategory {
          padding: 5px;
          border-radius: 5px;
          border: none;
          background-color: #4bb350;
          color: white;
        }

        .deleteCategory {
          padding: 5px;
          border-radius: 5px;
          border: none;
          background-color: #f84232;
          color: white;
        }
      }
    }

    .categoryPagination {
      text-align: center;
      margin-top: 30px;

      button {
        padding: 5px 10px;
        font-size: 17px;
        margin: 0 5px;
      }
    }

  }
}

/* css form Product detai */
.orderDetail {
  display: none;
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);


  #tableOrderDetail {
    padding: 30px;
    text-align: center;
    width: 70%;
    border: 1px solid black;
    margin: 0 auto;
    margin-top: 10%;
    background-color: white;
    border-radius: 10px;

    th {
      background-color: #2196f7;
    }

    td {
      background-color: blanchedalmond;

      img {
        width: 100px;
        height: 100px;
      }
    }
  }
}

/* css form tạo product  */
#productFormCreate,
#productFormUpdate {
  display: none;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;

  .form {
    width: 30%;
    margin: 0 auto;
    margin-top: 30vh;
    background-color: rgb(226, 224, 224);
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;

    div {
      h2 {
        text-align: center;
      }

      label {
        width: 100px;
      }

      input,
      select {
        width: 50%;
        height: 3vh;
      }

    }

    .div-button {
      display: flex;
      justify-content: center;
      gap: 10px;

      button {
        width: 100px;
        height: 3vh;
        margin-left: 40%;
        background-color: #2196f7;
        border: none;
        border-radius: 5px;
        margin-left: 0;
      }

      .productButtonCancel {
        background-color: #f84232;

      }

      .productButtonCancel2 {
        background-color: #f84232;

      }
    }
  }
}

@media (max-width : 568px) {
  main {
    & .content {
      & .dashboard {
        & .item-menu {
          flex-wrap: wrap;
          gap: 15px;

          .item {
            width: 40%;

          }
        }
      }
    }
  }

  main {
    .content {
      width: 100%;
    }

    .navY {
      display: none;
    }

    .target {
      background-color: white;
    }
  }

  @media (max-width : 768px) {
    .section-product {
      width: 100%;
      padding: 0;
      text-align: center;
    }
  }


}

@media (max-width : 1023px) {
  .target {
    h2 {
      display: none;
    }
  }

  .content {
    .dashboard {
      .item-menu {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .item {
          width: 40%;

          .percent {
            display: none;

          }

        }
      }
    }
  }

  main {
    & .content {
      & .dashboard {
        & .item-menu {
          & .item {
            div {

              border: none;
            }
          }
        }
      }
    }
  }

  header {
    & .navX {
      & div {
        flex-direction: row-reverse;
      }


    }
  }

  .content1 {
    .chart {
      gap: 0 2%;
      margin-left: 0;
    }
  }

  main {
    .section-product {
      width: 100%;
      padding: 0;
      text-align: center;
    }

    .navY {
      display: none;
    }

    .content1 {
      .statistical {
        display: flex;
        flex-wrap: wrap;
        margin: 10px 0;

        .sub-statistical {
          width: 45%;
        }
      }

      .chart {
        margin: 50px 10px;
      }
    }
  }


}

/* section tin nhắn  */

.iconMessage {
  position: fixed;
  z-index: 3;
  bottom: 100px;
  right: 50px;


  i {
    font-size: 50px;
    margin: 10px 0;
    cursor: pointer;
    animation: iconMessage 1s linear infinite;

    p {
      font-size: 20px;
      margin-left: 55px;
      margin-top: -20px;

    }
  }


}

.containerTotalMessage {
  width: 400px;
  height: 400px;
  background-color: antiquewhite;
  padding: 25px 10px 0 10px;
  overflow: scroll;
  position: fixed;
  right: 20px;
  bottom: 200px;
  border-radius: 10px;

  #totalMessageClose {
    background: #f84232;
    padding: 5px;
    border-radius: 10px;
    border: none;
    color: white;
    position: absolute;
    top: 5px;
    right: 5px;
  }

  div {
    background-color: #2196f7;
    padding: 5px;
    border-radius: 30px;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    margin: 10px 0;

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }

    i {
      font-size: 40px;
      border: 1px solid black;
      border-radius: 50%;
      overflow: hidden;
    }
  }
}

.formMessageDetail {

  h2 {
    text-align: center;
  }

  overflow: hidden;
  display: none;
  width: 400px;
  height: 400px;
  background-color: antiquewhite;
  position: fixed;
  right: 450px;
  bottom: 200px;
  border-radius: 10px;

  .containerMessage {
    overflow: scroll;
    width: 100%;
    height: 315px;

    div {
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 10px;
      margin: 10px;

      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
      }
    }
  }

  .controlMessage {
    /* position: absolute;
      bottom: 0;
      left: 0; */

    background-color: #ffa500;
    width: 100%;

    input {
      width: 300px;
      height: 4vh;
      border-radius: 10px;
      margin: 5px;
      border: none;
    }

    button {
      width: 70px;
      height: 4vh;
      border-radius: 10px;
      background-color: cornflowerblue;
      border: none;
      color: white;
    }
  }



  #buttonMessageClose {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
    background-color: #db4e1b;
    border: none;
    border-radius: 5px;
    color: white;
  }
}



@keyframes iconMessage {
  from {
    transform: scale(1.2);
  }
}

@media (max-width : 768px) {
  .section-product {
    width: 100%;
    padding: 0;
    text-align: center;
  }
}

@media (min-width : 1024px) {}