* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;

}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.header {
    width: 100%;
    height: 7vh;
    background-color: #f6f6f6;
    border-bottom: 1px solid rgb(195, 180, 180);
    line-height: 10vh;
    position: fixed;
    z-index: 3;

    #navFilter:hover {
        .productFilter {
            display: flex;

        }
    }

    .navbar {
        display: flex;
        justify-content: space-around;
        list-style-type: none;

        #buttonLogin {
            width: 80px;
            height: 3vh;
            background-color: chocolate;
            color: white;
            border: none;
            font-size: 18px;
        }

        li {
            line-height: 7vh;

            #category {
                width: 60%;
                position: absolute;
                background-color: white;
                border: 1px solid black;
                border-radius: 10px;
                left: 400px;
                display: none;
                z-index: 2;
                margin-top: -5px;

                ul {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;

                    li {
                        width: 30%;
                        height: 100px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        flex-wrap: wrap;
                        line-height: 100px;

                        img {
                            width: 50px;
                            margin-bottom: -25px;
                        }

                    }



                }

            }

            a {
                font-size: 25px;
                text-decoration: none;
                color: #db4e1b;

                a:hover {
                    animation: hoverNav 0.4s linear forwards;

                }
            }

            a:hover {
                color: cornflowerblue;
            }

            .logo {
                width: 200px;
                height: 100px;
                margin-top: -15px;

            }

            .productFilter {
                display: none;
                flex-wrap: wrap;
                gap: 20px 10px;
                justify-content: center;
                align-items: center;
                margin-top: 68px;
                color: #000000;
                position: absolute;
                top: 0;
                left: 0;
                background-color: #ece7e7;
                border: 1px solid rgb(213, 210, 210);
                padding: 0 10px;
            }

        }

        /* css number carts */


        #user {


            a {
                font-size: 18px;

                i {
                    margin-right: 10px;
                    margin-left: 10px;
                }
            }
        }



        .navbar-category:hover {
            #category {
                display: block;
            }
        }


    }


    .navbar:hover {
        .productFilter {
            display: flex;
        }
    }
}

/* css number carts */
span#numberCarts {
    background-color: blanchedalmond;
    position: absolute;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    line-height: 30px;


}

main {
    padding-top: 100px;
    width: 100%;
    text-align: center;

    #table-carts {
        margin: 0 auto;
        margin: 50px auto;
        text-align: center;
        width: 100%;
        padding: 0 10%;

        tr {

            th {
                padding: 15px;
                background-color: cadetblue;
            }

            td {
                padding: 15px;
                background-color: #f6e2db;

                img {
                    width: 100px;
                    height: 100px;
                }

                .buttonDelete {
                    background-color: coral;
                    border: none;
                    padding: 5px;
                    color: white;
                    cursor: pointer;
                    border-radius: 5px;
                }

                .up,
                .down {
                    padding: 5px;
                    margin: 0 10px;
                }
            }
        }
    }

    #totalMoney {
        h2 {
            margin-left: 40%;
            margin-bottom: 20px;
        }

        #order {
            margin-bottom: 20px;
            width: 200px;
            height: 4vh;
            border-radius: 5px;
            background-color: #db4e1b;
            border: none;
            color: white;
            font-size: 20px;
            margin-left: 30%;
        }
    }
}



/* css footer */
footer {
    padding: 100px;
    background-color: #000000;
    color: rgb(236, 230, 230);
    text-align: center;

    a {
        color: rgb(227, 219, 219);
    }
}

@media (max-width : 1200px) {}