* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    .header {
        width: 100%;
        height: 7vh;
        background-color: #f6f6f6;
        border-bottom: 1px solid rgb(195, 180, 180);
        line-height: 10vh;
        position: fixed;
        z-index: 3;
        font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

    .navbar {
        display: flex;
        justify-content: space-around;
        list-style-type: none;

        li {
            line-height: 7vh;

            #category {
                width: 60%;
                position: absolute;
                background-color: white;
                border: 1px solid black;
                border-radius: 10px;
                left: 400px;
                display: none;

                ul {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;

                    li {
                        width: 30%;
                        height: 100px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        flex-wrap: wrap;
                        line-height: 100px;

                        img {
                            width: 50px;
                            margin-bottom: -25px;
                        }
                    }
                }

            }

            a {
                font-size: 25px;
                text-decoration: none;
                color: rgb(219, 78, 27);

                a:hover {
                    animation: hoverNav 0.4s linear forwards;
                }
            }

            .logo {
                width: 200px;
                height: 100px;
                margin-top: -15px;

            }
        }

        .navbar-category:hover {
            #category {
                display: block;
            }
        }
    }

    width: 100%;
    height: 100vh;
    background-image: url(../image/slide/slidePatternedShirt.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-color: rgba(133, 89, 78, 0.7);

    .container {
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);

        .form {
            width: 30%;
            height: 30vh;
            background-color: rgb(237, 209, 209);
            position: absolute;
            border-radius: 10px;
            padding-top: 4vh;
            text-align: center;
            top: 37%;
            left: 37.5%;
            font-size: 30px;
            color: brown;

            input {
                width: 50%;
                height: 3vh;
                border-radius: 10px;
                margin-left: 10px;
                margin-bottom: 10px;
            }

            #buttonLogin {
                width: 70px;
                height: 3vh;
                border-radius: 5px;
                background-color: rgb(79, 79, 139);
                color: white;
                margin-left: 20px;
            }

            #buttonRegister {
                width: 70px;
                height: 3vh;
                border-radius: 5px;
                background-color: rgb(78, 41, 113);
                color: white;
                margin-left: 20px;
            }
        }
    }
}