* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.header {
    width: 100%;
    height: 7vh;
    background-color: #f6f6f6;
    border-bottom: 1px solid rgb(195, 180, 180);
    line-height: 10vh;
    position: fixed;
    z-index: 3;

    #navFilter:hover {
        .productFilter {
            display: flex;

        }
    }

    .navbar {
        display: flex;
        justify-content: space-around;
        list-style-type: none;

        #buttonLogin {
            width: 80px;
            height: 3vh;
            background-color: chocolate;
            color: white;
            border: none;
            font-size: 18px;
        }

        li {
            line-height: 7vh;

            #category {
                width: 60%;
                position: absolute;
                background-color: white;
                border: 1px solid black;
                border-radius: 10px;
                left: 400px;
                display: none;
                z-index: 2;
                margin-top: -5px;

                ul {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-wrap: wrap;

                    li {
                        width: 30%;
                        height: 100px;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        flex-wrap: wrap;
                        line-height: 100px;

                        img {
                            width: 50px;
                            margin-bottom: -25px;
                        }

                    }



                }

            }

            a {
                font-size: 25px;
                text-decoration: none;
                color: #db4e1b;

                a:hover {
                    animation: hoverNav 0.4s linear forwards;

                }
            }

            a:hover {
                color: cornflowerblue;
            }

            .logo {
                width: 200px;
                height: 100px;
                margin-top: -15px;

            }

            .productFilter {
                display: none;
                flex-wrap: wrap;
                gap: 20px 10px;
                justify-content: center;
                align-items: center;
                margin-top: 68px;
                color: #000000;
                position: absolute;
                top: 0;
                left: 0;
                background-color: #ece7e7;
                border: 1px solid rgb(213, 210, 210);
                padding: 0 10px;
            }

        }

        /* css number carts */


        #user {


            a {
                font-size: 18px;

                i {
                    margin-right: 10px;
                    margin-left: 10px;
                }
            }
        }



        .navbar-category:hover {
            #category {
                display: block;
            }
        }


    }


    .navbar:hover {
        .productFilter {
            display: flex;
        }
    }
}

/* css number carts */
span#numberCarts {
    background-color: blanchedalmond;
    position: absolute;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    line-height: 30px;


}

main {
    padding-top: 100px;
    text-align: center;
    /* display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 50px; */

    .inforProfile {
        margin: 0 auto;
        padding: 30px;
        width: 30%;
        border: 1px solid black;

        .input {
            margin: 10px 0;
            width: 40%;
            height: 3vh;
        }
    }

    .history {
        margin-top: 30px;
        margin-bottom: 30px;

        table {
            width: 80%;
            margin: 0 auto;
            margin-top: 50px;

            th {
                background-color: #2196f7;
                padding: 10px;
            }

            td {
                background-color: #ff9900;
                padding: 10px;

                .orderButtonDelete {
                    background-color: #f84232;
                    border: none;
                    padding: 5px;
                    border-radius: 5px;
                    color: white;
                    margin-bottom: 5px;
                }

                .orderButtonDetail {
                    background-color: #4bb350;
                    border: none;
                    padding: 5px;
                    border-radius: 5px;
                    color: white;
                }
            }
        }

        .orderPagination {
            margin-top: 30px;

            button {
                padding: 5px 10px;
                margin: 0 5px;
            }
        }
    }

    /* css form Product detai */
    .orderDetail {

        display: none;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.5);


        #tableOrderDetail {
            padding: 30px;
            text-align: center;
            width: 70%;
            border: 1px solid black;
            margin: 0 auto;
            margin-top: 10%;
            background-color: white;
            border-radius: 10px;

            th {
                background-color: #2196f7;
            }

            td {
                background-color: blanchedalmond;

                img {
                    width: 100px;
                    height: 100px;
                }
            }
        }
    }

}




/* css footer */
footer {
    padding: 100px;
    background-color: #000000;
    color: rgb(236, 230, 230);
    text-align: center;

    a {
        color: rgb(227, 219, 219);
    }
}